.member {
  align-items: center;
  text-align: center;
  width: 200px;
}

.headshot {
  border-radius: 50%;
}

.name {
  font-weight: bold;
}

a:visited {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}
